*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 0.5px;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 2.5vw;
    background-color: transparent;
}

.nav__menu {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav__toggler {
    display: none;
}

.nav__toggler div {
    width: 8vw;
    height: 3px;
    margin: 6px;
    background: #000;
    transition: 0.3s ease-in;
}

@media screen and (max-width: 821px) {
    .nav{
        position: static;
        width: auto;
        height: auto;
        background: transparent;
    }

    a{
        color: aliceblue;
        font-weight: bold;
    }

    .nav__toggler {
        display: block;
        cursor: pointer;
    }

    .nav__menu {
        position: absolute;
        top: 8vh;
        left: 55%;
        height: 35%;
        width: 35%;
        gap: 0.5em;
        font-weight: 100;
        background: #000;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(-300%);
        transition: 0.5s ease-in;
    }
}

@media screen and (min-width: 1000px) {
    .nav{
        left: 58%;
    }
}

@media screen and (min-width: 821px){
    span{
        border: #000 3px solid;
        padding: 2%;
        width: 12vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}

/* Active Class */
.nav__active {
    transform: translateX(-150%);
}

/* Toggle Icon Animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 5.5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7.2px, -4px);
}